#registrations-new
  .col-xs-6.left-content
    %h1 #Tsubuyaki
    %p.ex
      SampleApplication
    %p.by
      Author,Design,Planning
  .col-xs-6.right-content
    = form_for @user, url:registrations_path, method: :post do |f|
      %h2
        Signup
      - @user.errors.each do |attr,message|
        .alert.alert-danger = message
      .form-group
        = f.label :name,"UserID: @cyllabus_jp",class: "control-label"
        = f.text_field  :name,class: "form-contol"
      .form-group
        = f.label :email,"MailAddress: hello@cyllabus_jp",class: "control-label"
        = f.text_field  :name,class: "form-contol"
      .form-group
        = f.label :password,"password:6 or more characters",class: "control-label"
        = f.text_field  :name,class: "form-contol"
      .form-group
        = f.label :password_confirmation,"password_confirmation:6 or more characters",class: "control-label"
        = f.text_field  :name,class: "form-contol"
      = f.submit "register",class: "btn btn-primary"
      = link_to "login", new_session_path, class: "login pull-right"
      .clear
